@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@300&display=swap');

:root { 
        --blue: #04A6E4;
        --dar-blue: #1B2153;
        --white:white;
        --gray:#D2CFCF;
        --darr-blue:#3A2B71;
    
}
body{
    margin: 0;
    font-family: 'Bree Serif', serif;
    /* font-family: 'Poppins', sans-serif; */
    background:var(--dar-blue);
    font-weight: normal;
   
}
.svg-icon {
    width: 1em;
    height: 1em;
    
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--white);
}

.svg-icon circle {
    stroke: var(--white);
    stroke-width: 1;
}

.container{
    margin: 0 13% ;
}
.Navbar{
    background: var(--dar-blue);
    margin: 3% 0;
    display: flex;
    position: sticky;
    top: 0;
    justify-content:space-between;
    width: 100%; 
}

.NavItems_icons {
    flex-grow: 1;
    justify-content: end;
    display: flex; 
    flex-direction: row; 
}

.logo {
    width: 50px;
    height: 30px;
}

.logo  img {
    width: 100%;
    height: 100%;
}

 
.Nav_items {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    flex-direction: row;
}


.Nav_items li a {
    color: var(--white);
    text-decoration: none;
    font-weight: normal;
    transition: 0.4s;
}

.Nav_items li a:hover {
    color: var(--blue);
}

.Nav_items li .active{
    color: var(--blue);
}
 .Nav_items_icons{
    display: flex;    
 }
  .Nav_items_icons hr{
        padding: 0px;
        margin: 0;
        height: 30px;
        margin-top:10px;
        margin-left: 40px;
  }
 .Nav_items_icons ul{
    display: flex; 
    column-gap: 10px;
    justify-content: start;
 }

.Nav_items_icons ul li {
    list-style-type:none;
}

.Section_header{
    margin: 60px 0; 
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Section_header .Content_1{
    margin-top: 26px;
}
 
.Section_header .Content_1 h1{
    color: var(--white);
    transition: 0.4s;
    font-size: 100px;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

.Section_header .Content_1 h1  span {
    color: var(--blue);
}
.Section_header .Content_1 p {
    transition: 0.4s;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size:27px;
    font-weight: normal;
}

.Content_1 .action-link{
    margin-top: 37px;
}
.Content_1 a {
   
    color: var(--white);
    background-color: var(--blue);
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none; 
    transition: 0.4s;
}

.Content_1 a:hover {
    color: var(--blue);
    background: var(--white);
}

.Section_header .Content_2 {
    max-width: 350.56px;
    max-height: 366.56px;
    min-width: 350.56px;
    min-height: 350.56px;
    /* margin-top: 40px; */
    transition: 0.4s;
    background-image: url('/assets/images/out..jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border:5px solid var(--blue);
   
}


.section-Under-main{
    display: flex;
    margin-top: 195px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.section-Under-main .card{
    background-color: var(--darr-blue);
    transition: 0.4s;
    padding:50px;
    border-radius: 20px;
    min-width: 200px;
    max-width: 200px;
    
}

.section-Under-main .card:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.section-Under-main .card .card-body svg { 
    width: 4em;
    height: 4em;
    margin: 0px;
    padding: 0px;        
}

.section-Under-main .card .card-body .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
        fill: var(--blue);
    }



.section-Under-main .card .card-body h4{ 
    color: var(--white);
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.section-Under-main .card .card-body p{
    color: var(--gray);
    font-weight: normal;
    font-size: 18px;
    
}

.about-me {
    margin-top: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;  
}

.about-me .header{
    text-align: center;
}

.about-me .header h5{
    color: var(--blue);
    font-size: 38px;
    font-weight: normal;
    
   
}


.about-me .header h1 {
    color: var(--white);
    font-size: 64px;
    margin: 0;

}


.Content{
    margin-top:130px;
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
}
.Content .content-left{
 display: flex;   
 position: relative;
}
.Content .content-left .img{
    position: relative;
    margin-left: 150px;
    

}
.Content .content-left img {
    border-radius:30px;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.Content .content-left img:hover{
    transform: scale(1.03);
}

.Content .content-left .img-over{
    position: absolute;
    bottom: -160px;
    width: 300px;
    height: 250px;
    display: flex;
}

.Content .content-left .img-over img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.Content .content-left .img-over img:hover {
    transform: scale(1.03);
}


.Content .content-left .content-overimage {
    position: absolute;
    display: flex;
    column-gap: 15px;
    right: -200px;
    bottom: 20px;
}

.Content .content-left .content-overimage hr {
    border: 3px solid var(--blue);
    height: 100px;
}

.Content .content-left .content-overimage .three span {
    color: var(--white);
    font-size: 80px;
    font-weight: bold;
}

.Content .content-left .content-overimage .text {
    color: var(--white);
    margin-top: 30px;
    font-size: 20px;
}

.Content .content-right {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
}
.Content .content-right h4{
    color: var(--white);
    font-size: 35px;
    font-weight: normal;
    margin: 0px;
}


.Content .content-right p {
    color: var(--gray);
    font-size: large;

}

.Content .content-right .about-table {
    display: flex;
    border: 1px solid var(--gray);
    border-radius: 10px;
    justify-content: space-between;
}

.Content .content-right .about-table .about-me-row-1{
    padding: 15px;
    flex-grow: 1;
    border-right: 1px solid var(--gray);
}

 .Content .content-right .action-link{
    text-align: center;
    margin-top: 30px;
 }

 .Content .content-right .action-link a{
        color: var(--white);
        background-color: var(--blue);
        padding: 15px 30px;
        border-radius: 30px;
        text-decoration: none;
        transition: 0.4s;
 }

  .Content .content-right .action-link a:hover {
     color: var(--blue);
     background: var(--white);
 }


 .show-case_cards{
    margin-top: 290px;
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
 }


  .show-case_cards .show-case-card {
    background-color: var(--darr-blue);
        transition: 0.4s;
        padding: 32px 30px;
        border-radius: 20px;
        min-width: 200px;
        max-width: 200px;
        display: flex;
        
        justify-content: space-between;
    
    }

          .show-case_cards .show-case-card:hover {
            transform: scale(1.03);
            cursor: pointer;
          }

 .show-case_cards .show-case-card h3{
    color:var(--blue);
    font-size: 78px;
    margin: 0px;
    font-weight: normal;

 }

  .show-case_cards .show-case-card p {
    color: var(--white);
    font-size: 23px;
    font-weight: normal;
  }



  .skills {
      margin-top: 165px;
    margin-bottom: 165px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
  }
 
  .skills .header {
      text-align: center;
  }

  .skills .header h5 {
      color: var(--blue);
      font-size: 38px;
      font-weight: normal;
  }

  .skills_container {
    display: flex;
    justify-content: space-around;
  }

  .skills-rating{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 25px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 70px;
  }

 
  .skills .header h1 {
      color: var(--white);
      font-size: 64px;
      margin: 0;

  } 
  
  .skills  .skills-rating .hmtl .html-outer{
    background-color: var(--white);
    width: 300px;
    height: 6px;
    border-radius: 6px;
  }

  .inner-html{
    background-color:var(--blue);
    height: 100%;
    width: 80%;
    border-radius: 0px 0 0 0;
  }

  .skills .skills-rating .css .css-outer {
      background-color: var(--white);
      width: 300px;
      height: 6px;
      border-radius: 6px;
  }

  .inner-css {
      background-color: var(--blue);
      height: 100%;
      width: 80%;
      border-radius: 0px 0 0 0;
  }


  .skills .skills-rating .js .js-outer {
      background-color: var(--white);
      width: 300px;
      height: 6px;
      border-radius: 6px;
  }

  .inner-js {
      background-color: var(--blue);
      height: 100%;
      width: 60%;
      border-radius: 0px 0 0 0;
  }


.skills .skills-rating .php .php-outer {
    background-color: var(--white);
    width: 300px;
    height: 6px;
    border-radius: 6px;
}

.inner-php {
    background-color: var(--blue);
    height: 100%;
    width: 80%;
    border-radius: 0px 0 0 0;
}

.skills .skills-rating .bootstrap .bootstrap-outer {
    background-color: var(--white);
    width: 300px;
    height: 6px;
    border-radius: 6px;
}

.inner-bootstrap {
    background-color: var(--blue);
    height: 100%;
    width: 85%;
    border-radius: 0px 0 0 0;
}
.skills .skills-rating .React .React-outer {
    background-color: var(--white);
    width: 300px;
    height: 6px;
    border-radius: 6px;
}

.inner-React {
    background-color: var(--blue);
    height: 100%;
    width: 60%;
    border-radius: 0px 0 0 0;
}

.skills .skills-rating .laravel .laravel-outer {
    background-color: var(--white);
    width: 300px;
    height: 6px;
    border-radius: 6px;
}

.inner-laravel {
    background-color: var(--blue);
    height: 100%;
    width: 79%;
    border-radius: 0px 0 0 0;
}

.number-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color:var(--gray);
}

.number {
    color: var(--blue);
}



.services .header {
    text-align: center;
    
}

.services .header h5 {
    color: var(--blue);
    font-size: 38px;
    font-weight: normal;
    margin: 0px;


}


.services .header h1 {
    color: var(--white);
    font-size: 64px; 
    padding: 0px;
    margin: 0px;

}


.services-container {
    display: flex;
    margin-top: 75px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.services-container .card {
    background-color: var(--darr-blue);
    transition: 0.4s;
    padding: 50px;
    border-radius: 20px;
    min-width: 200px;
    max-width: 200px;

}


.services-container .card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.services-container .card .card-body svg {
    width: 4em;
    height: 4em;
    margin: 0px;
    padding: 0px;
}

.services-container .card .card-body .svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--blue);
}



.services-container .card .card-body h4 {
    color: var(--white);
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.services-container .card .card-body p {
    color: var(--gray);
    font-weight: normal;
    font-size: 18px;

}


.portfolio{
        margin-top: 165px;
        /* margin-bottom: 165px; */
}

.portfolio .header {
    text-align: center;

}

.portfolio .header h5 {
    color: var(--blue);
    font-size: 38px;
    font-weight: normal;
    margin: 0px;


}


.portfolio .header h1 {
    color: var(--white);
    font-size: 64px;
    padding: 0px;
    margin: 0px;

}


.portfolio .nav {
    color: var(--white);
    margin: 20px;
    display: flex;
    column-gap: 20px;
}

.portfolio .nav a{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
}

.portfolio .nav .active{
    color: var(--blue);
}
.portfolio .card {
    background-color: var(--darr-blue);
    transition: 0.4s;
    border-radius: 10px;
    min-width: 200px;
    max-width: 200px;
    min-height: 250px;
    max-height: 250px; 

}




.portfolio .card-body {
    background-color: var(--dar-blue);
    margin-top: 200px;
    border-radius: 10px;
    min-width: 100%; 
    padding: 10px;   
    visibility: hidden;
    opacity: 0;     
    align-items: center;
    justify-content: center; 
    transition: .2s;
    transform: translateY(1em); 
    transform: translateX(-0.6em);
    transition: opacity .2s, visibility .2s;
}


.portfolio .card:hover  .card-body {
    visibility: visible;
    opacity: 1;
    
}

 .portfolio .card-body a{
    color: var(--gray); 
 }


 

 .testimonials {
     margin-top: 165px;
     /* margin-bottom: 165px; */
 }

 .testimonials .header {
     text-align: center;

 }

 .testimonials .header h5 {
     color: var(--blue);
     font-size: 38px;
     font-weight: normal;
     margin: 0px;


 }


 .testimonials .header h1 {
     color: var(--white);
     font-size: 64px;
     padding: 0px;
     margin: 0px;
     width: 90%;

 }


  .testimonials .testimonials-container {
    display: flex;
    margin: 30px 0px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

   .testimonials .testimonials-container .quote {
        align-self: center;
        width: 100px;
   }

   .testimonials .testimonials-container .quote img {
            width: 100%;
            height: 100%;
        }

 .testimonials .testimonials-container em{
    color: var(--white);
    font-weight: normal;
    font-size: 22px;
 }

  .testimonials .testimonials-container .user-profile {
    justify-self: center;
    margin: 25px 0px;
    text-align: center; 
  }

.testimonials .testimonials-container .user-profile img{
    width: 100px;
    height: 100px;
    justify-self: center;
    border-radius: 50%;
}

.testimonials .testimonials-container .user-profile .user-info {
    display: flex;
    justify-content: center; 
    column-gap: 10px;
}

.testimonials .testimonials-container .user-profile .user-info h4{
    margin: 25px 0 0 0;
    padding: 0;
    color: var(--white);
}
.testimonials .testimonials-container .user-profile .user-info p {
    margin: 0;
    padding: 0;
    color: var(--gray);
}

.testimonials .testimonials-container .testimonails-dots {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.testimonials .testimonials-container .testimonails-dots div{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: var(--blue);
    border-radius: 50%;
}